{
  "plugins": [
    ["prismjs", {
      "languages": ["javascript", "markup", "bash", "clike", "cpp", "python"],
      "plugins": ["line-numbers"],
      "theme": ["okaidia", "default", "solarizedlight"],
      "css": true
    }]
  ]
}
